@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/***** General CSS *****/

body {
  word-break: break-word;
  font: 15px/25px 'Poppins', sans-serif;
  color: #393939;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #28b16d;
  white-space: initial;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #393939;
}

a:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

img {
  max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

p {
  font-weight: 500;
}


/***** Font Files *****/

@font-face {
  font-family: 'Fonts Awesome';
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");
  font-weight: 400;
  font-style: normal
}


/***** Custom Classes *****/

.noPadding {
  padding: 0;
}

.noLeft {
  padding-left: 0;
}

.noRight {
  padding-right: 0;
}

.centerCol {
  float: none;
  margin: 0 auto;
}

.theme-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 15px 40px;
    color: #fff;
    margin: 20px 20px 20px 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    text-transform: capitalize;
    border: 2px solid;
    text-transform: uppercase;
    background: #3e8db9;
    color: #fff;
    border-color: #3e8db9;
    font-family: 'Poppins';
    font-size: 18px;
    position: relative;
        z-index: 1;
}


.theme-btn:hover {
    background-color: #000 !important;
    color: #fff;
    border-color: #000 !important;
    transition: 1s;
    box-shadow: 0px 3px 10px 0px rgb(89 191 232) !important;
}

.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.flexCol {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-items: center;
}

h1 {
  font-family: "Oxanium", sans-serif;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 17px;
}

h2 {
  font-family: "Oxanium", sans-serif;
  font-size: 55px;
  line-height: 60px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 30px;
}

h3 {
  font-family: "Oxanium", sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
  font-weight: 600;
  margin: 0 0 28px;
}

h4 {
  font-family: "Oxanium", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 13px;
}

h5 {
  font-family: "Oxanium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 20px;
}

h6 {
  font-family: "Oxanium", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 22px;
}

select {
  background: #fff url('../images/arrow.png') no-repeat right;
  padding: 0 40px 0 30px;
  
}

::-webkit-input-placeholder {
  color: #575757;
}

::-moz-placeholder {
  color: #575757;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #575757;
}

:-moz-placeholder {
  color: #575757;
  opacity: 1;
}


/*header css start */

.menuSec {
    padding: 0px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.menuSec img {
  margin: 0;
}

.menuSec ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  text-transform: capitalize;
}

.menuSec ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menuSec li ul {
  display: none;
}

.menuSec ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #393939;
    padding: 10px 23px;
    font-size: 13px;
}

.menuSec ul li a:after {
  content: '';
  position: absolute;
  top: 35%;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #393939;
}

.menuSec ul li:last-child a {
  padding-right: 0px;
}

.menuSec ul li:last-child a:after {
  display: none;
}

.menuSec ul li a:hover,
.menuSec ul li a.active {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  color: #28b16d;
}

.menuSec li:hover>ul {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: #000000;
  left: 0px;
  width: 230px;
  text-align: left;
  top: 38px;
}

.menuSec li>ul>li>a {
  border: none;
  padding: 13px 20px !important;
  color: #fff !important;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
}

.menuSec li>ul>li,
.menuSec li>ul>li>a {
  display: block;
  margin: 0;
}

.menuSec li>ul>li>a:before,
.menuSec li>ul>li>a:after {
  display: none;
}

.menuSec li:hover li {
  float: none;
}

.menuSec li:hover a {}

.menuSec li ul li a:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

.menuSec ul ul ul {
  left: 100%;
  top: 0;
}

.menuSec ul:before,
.menuSec ul:after {
  content: " ";
  display: table;
}

.menuSec ul:after {
  clear: both;
}

.menuSec li>ul>li:hover>ul {
  left: 230px;
  top: 0px;
  width: 270px;
}
.droopdwon li:hover>ul {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: #000000;
    left: 0px;
    width: 230px;
    text-align: left;
    top: 40px;
}
.droopdwon {
    float: left;
}
.droopdwon li:hover li a:hover {
    background-color: #ffffff;
    color: #000 !important;
}
/*header css start */

.dropdown-menu {
    position: absolute !important;
    z-index: 1000;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
/*banner css start */




.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: 100%;
}
.carousel-control.right,
.carousel-control.left {
  background: none;
  opacity: 1;
  width: 50px;
  height: 50px;
  top: initial;
  top: 40%;
  background: rgba(255, 255, 255, 0.1);
  text-shadow: none;
}
.carousel-control.right:hover,
.carousel-control.left:hover {
  background: rgba(255, 27, 27, 0.6);
  color: #fff;
}
.carousel-control.right .fa,
.carousel-control.left .fa {
  position: relative;
  top: 12px;
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
}
.carousel-control.right {
  right: 0px;
}
.carousel-control.left {
  left: 0px;
}
.carousel-indicators {}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 12px;
    padding: 0;
    margin: 3px!important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    /* transition: opacity 0.6s ease; */
    border-radius: 20px;
}
.carousel-caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.1); */
}
.carousel-indicators li {
  border: none;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #fff;
  width: 12px;
  height: 12px;
  margin: 0;
}
.carousel-indicators .active {
  margin: 0;
  background-color: #28b16d;
  width: 10px;
  height: 12px;
}
/*banner css end*/

.blog_sec {
  padding: 5% 0;
}
/*slick slider in tabs css start*/


/* Style the tab */




.tab_sec .tab {
  overflow: hidden;
  border: 0;
  background-color: #ffffff;
}
/* Style the buttons that are used to open the tab content */
.tab_sec .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab_sec .tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab_sec .tab button.active {
  background-color: #ccc;
}
/* Style the tab content */

.tab_sec .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0;
}
.tabcontent.active {
  display: block;
}
/*slick slider in tabs css start*/

.nav-item {padding: 10px;}


/*Header Css Start*/

/* sidenav-css start */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -500px;
    background: #59bfe8;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 250px;
    border-radius: 0px 30px 30px 0px;
}

/* The navigation menu links */

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:focus {
  color: #000;
  text-decoration: none;
  padding-left: 40px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  top: 20px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: 'Oxanium';
}
.mobilecontainer span {
    color: #3e8db9;
    margin-right: 10px;
    margin: 0px 9px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    font-size: 36px !important;
}
.mobilecontainer img {
    width: 42px;
    margin: -19px 0;
    position: relative;
    z-index: 1;
}
.mobilecontainer {
    background-color: #fff;
    /* padding-left: 20px; */
    width: 65px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: unset;
}
/* sidenav-css end */



.head-logo {
    text-align: center;
}
.head-logo a img {
    width: 42%;
    margin-right: 50px;
}
.menuSec .row {
    align-items: center;
}
.head-btn .theme-btn {
    margin: 20px 0px 20px 0px;
    padding: 15px 27px;
}
/*Headr Css End*/

/*Home banner Css Start*/
.banner_text h1 {
    font-size: 103px;
    line-height: 100px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
}

.banner_text p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    width: 82%;
    color: #7c7c7c;
    margin-bottom: 50px;
}
.banner_img img {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 49%;
}
.banner_text {
    margin-top: 70px;
}
.banner_img:before {
    position: absolute;
    content: '';
    background: #59bfe8;
    width: 40%;
    height: 680px;
    right: 0;
    bottom: 0;
    border-radius: 60px 0px 0px 0px;
}
/*Home banner Css End*/

/*Section Counter Start*/
.maindv-counter {
    display: flex;
    gap: 160px;
    width: 100%;
    padding-left: 210px;
}
.head-btn {
    text-align: end;
}
.counter {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    margin-bottom: 40px;
    height: 60px;
    display: flex;
    align-items: end;
    color: #fff;
}
.counter-box h4 {
    font-size: 24px;
    font-family: 'Poppins';
    text-transform: uppercase;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    color: #fff;
}
.counter-sec {
    position: relative;
    margin-top: -63px;
    background: #3e8db9;
    padding: 50px 0px 30px;
    width: 80%;
    border-radius: 0px 30px 30px 0px;
    margin-bottom: 40px;
}
/*Section Counter End*/


/*Section About Us Start*/
.aboutus {
    padding: 150px 0px 100px;
    position: relative;
}
.text-aboutus p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 200;
}
.text-aboutus h3 {
    font-size: 78px;
    font-weight: 500;
    margin-bottom: 71px;
    letter-spacing: 3px;
    color: #07183a;
}
.text-aboutus {
    margin-left: 20px;
}
.text-aboutus p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
    width: 70%;
    line-height: 28px;
}
.btn-aboutus .theme-btn {
    background: #00cde5;
    border-color: #00cde5;
}
.btn-aboutus {
    margin-top: 65px;
}
.aboutus:before {
    position: absolute;
    content: '';
    background: #e6e7eb;
    width: 70%;
    height: 520px;
    left: 20%;
    top: 28%;
    z-index: -1;
    border-radius: 20px;
}

/*Section about us End*/



/*Section Different Start*/
.img-different {
    background: #59bfe8;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.text-different h2 {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 26px 0px;
    margin-bottom: 0px;
    line-height: 44px;
    color: #07183a;
}

.text-different ul li img {
    width: 16px;
    height: 16px;
}

.text-different ul {
    text-align: center;
}

.text-different ul li {
    display: flex;
    align-items: baseline;
    gap: 9px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #7c7c7c;
}
.maindv-box-diiferent {
    padding: 40px 0px;
    height: 540px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 2px 4px 0 rgb(0 0 0 / 5%);
    position: relative;
}
.heading-different h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 78px;
    color: #07183a;
    line-height: 71px;
    letter-spacing: 2px;
}
.heading-different {
    margin-bottom: 30px;
}
.different {
    padding: 90px 0px;
}
.maindv-box-diiferent:before {
    position: absolute;
    content: '';
    background: #59bfe873;
    width: 100%;
    height: 1px;
    top: 0;
    border-radius: 30px;
    opacity: 0;
}
.maindv-box-diiferent:hover:before {
    height: 100%;
    opacity: 1;
    transition: 1.3s;
    z-index: -1;
}
.maindv-box-diiferent:hover .text-different ul li {
    color: #000;
}
/*Secton Different End*/


/*Section featured Start*/
.brand-slider .slick-active {
    opacity: 1.5;
}
.brand-text h5 img {
    width: 56%;
    filter: brightness(.1);
}
.brand-slider .slick-slide {
    opacity: 1.2;
}

.featured {
    background: #e6e7eb;
    padding: 50px 0px 30px;
    margin-bottom: 50px;
    margin-top: 60px;
}
.text-spectrum ul li {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 200;
    margin-top: 19px;
    text-align: end;
    color: #c5ddea;
    position: relative;
}
.img-spectrum img {
    border-radius: 20px;
}
.text-spectrum {
    background: #3e8db9;
    margin-right: -180px;
    border-radius: 30px;
    padding: 70px 220px 5px 0px;
}
.spectrum .row {
    align-items: center;
}
.heading-spectrum h2 {
    font-size: 71px;
    color: #07183a;
    background: #fff;
    width: 64%;
    padding: 40px 0px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 30px;
}

.heading-spectrum {
    margin-bottom: -80px;
    position: relative;
    z-index: 2;
    margin-left: 90px;
}

.text-spectrum ul {
    margin-top: 60px;
}
.spectrum {
    padding: 100px 0px;
}
.text-spectrum ul li:before {
    position: absolute;
    content: '';
    background: #bcd8e7;
    left: 40px;
    height: 5px;
    border-radius: 4px;
    width: 5px;
    top: 3px;
}

/*Section featured End*/



/*Section Portal Start*/
.text-portal ul li img {
    width: 16px;
    height: 16px;
}
.text-portal ul li {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
    margin-bottom: 9px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.text-portal h2 {
    font-size: 72px;
    color: #07183a;
    letter-spacing: 2px;
}
.text-portal ul {
    margin-bottom: 0px;
}
.text-portal {
    margin-top: 34px;
}
.portal {
    background: #e6e7eb;
    padding: 80px 0px 40px;
}
/*Section portal End*/



/*Section Art Start*/
.art {
    padding: 100px 0px;
}

.img-art h5 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
    padding: 20px 0px;
}
.slick-active {
    opacity: 1.5;
}
.img-art img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}
.artslid .slick-prev:before {
    content: '\f060' !important;
    font-family: 'Font Awesome 5 Free';
    color: #000 !important;
    font-weight: 800;
    padding: 7px 10px;
    border-radius: 7px;
    opacity: 1;
}
.artslid .slick-next:before {
    content: '\f061' !important;
    font-family: 'Font Awesome 5 Free';
    color: #000  !important;
    font-weight: 800;
    padding: 7px 10px;
    border-radius: 7px;
    opacity: 1;
}
/*Section Art End*/



/*Section Router Start*/
.maindv-routertext ul h2 {
    font-size: 33px;
    margin-bottom: 4px;
    color: #3e8db9;
}
.maindv-routertext ul li {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.text-router h2 {
    font-size: 71px;
    color: #07183a;
}
.maindv-routertext {
    display: flex;
    gap: 40px;
    background: #e6e7eb;
    padding: 40px 18px 50px 27px;
    border-radius: 30px 0px 0px 30px;
}
.router-img {
    background: #59bfe8;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border-radius: 20px;
}
.router .row {
    align-items: center;
}
.router {
    padding: 60px 0px 100px;
}
/*Section Router End*/


/*Footer Start*/
.ft-logo p {
    font-weight: 500;
    font-size: 13px;
    width: 73%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
.ft-contact-info h5 {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.ft-subscribe h5 {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.ft-contact-info ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 28px;
    color: #fff;
}


.ft-contact-info ul li a {
    color: #fff;
}

.ft-subscribe input {
    border: 1px solid #000;
    border: unset;
    border-bottom: 1px solid #aaaaaa;
    width: 89%;
    background: unset;
    color: #fff;
}
.ft-icon ul li {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
}
.ft-icon ul li a{
  color: #000;
}
.ft-icon h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.ft-icon ul {
    display: flex;
    gap: 11px;
}
.top-heading-footer h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 15px;
    color: #808080;
}
footer {
    background: #000000;
}
.top-heading-footer h2 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 76px;
    font-weight: 400;
    margin-bottom: 20px;
}
.top-heading-footer {
    margin-bottom: 38px;
    padding-bottom: 0px;
    border-bottom: 1px solid #cccccc;
}
.ft-logo a img {
    margin-bottom: 15px;
    background: #59bfe899;
    width: 55%;
}
.ft-contact-info {
    margin-top: 39px;
    margin-left: 64px;
}
.ft-subscribe {
    margin-top: 37px;
}
.ft-field {
    position: relative;
        margin-bottom: 20px;
}
.ft-field a {
    position: absolute;
    right: 50px;
    color: #fff;
    font-size: 20px;
}
.ft-field input::placeholder {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: -4px;
}
.ft-icon h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}
footer {
    padding-top: 50px;
    border-radius: 60px 60px 0px 0px;
}

.ft-bottom-text p {
    text-align: center;
    margin-bottom: 0px;
    padding: 20px 0px;
    border-top: 1px solid #303030;
    color: #a3a3a3;
}
.ft-bottom-text {
    margin-top: 20px;
}
.ft-icon ul li:hover {
    background: #59bfe8;
    transition: 0.8s;
}
.ft-icon ul li:hover a {
    color: #fff;
    transition: 0.8s;
}
.ft-contact-info ul li a:hover {
    margin-left: 10px;
    color: #59bfe8;
}
.maindv-subscriber {
    margin-left: 0px;
}
/*Footer End*/



/*inner Banner Start*/
.innerbanner {
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
}
.innerbanner .row {
    align-items: center;
}
.img-innerbanner img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    margin-top: 60px;
    margin-left: -60px;
}
.innerbanner .banner_text h1 {
    font-size: 80px;
    letter-spacing: 1px;
}
/*inner Banner End*/



*contact page start*/
/*CONTACT START*/
.contact_page_sidbar h6 {
  font-size: 14px;
  color: #dad7d7;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
}

.fa-color {
  color: #e51921;
  font-size: 80px;
}

.contact_page_sidbar h4 {
    color: #000;
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
    margin-bottom: 0px;
    font-size: 20px;
}

.contact_page_sidbar i {
  font-size: 35px;
  margin: 0 20px 0 0;
  width: 35px;
}

.contact_social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e51921;
  color: #ffffff;
  border-radius: 0;
  margin: 0 10px 0 0;
  font-size: 22px;
}

.contact_social a:hover {
  background-color: #e51921;
  color: #fff;
}

.contact_map iframe {
  width: 100%;
  height: 600px;
}

.contact-left img {
  width: 100%;
}

ul.contact_page_sidbar li i {
    color: #000;
}

ul.contact_page_sidbar a {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  color: #8b8a8a;
  text-decoration: none;
}

ul.contact_page_sidbar h6 {
  line-height: 26px;
  font-family: 'Poppins';
  font-size: 12px;
  color: #8b8a8a;
  margin-bottom: 0px;
}

.contact-form {
    border-radius: 15px;
    padding: 40px 20px 40px 20px;
    border: 2px solid #dcdcdc;
}
.contact-form-title h4 {
  color: #000;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 600;
}

.contact-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
}

.contact-form input::placeholder {
  color: #000;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 18px 80px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    resize: none;
}
.contact-submit button {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 17px;
  background: none;
}

.contact-form input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 0px;
}

.contact-form textarea::placeholder {
  font-size: 14px;
  line-height: 14px;
  border-radius: 5px;
  color:#000;
  margin-bottom: 0px;
}

section.contact_page_main.pt-8.pb-8 {
  padding: 100px 0;
  background-color: #050505;
}

li.d-flex.align-items-center.mt-5 {
  margin: 0 !important;
  margin-top: 40px !important;
}

.contact_page_sidbar p {
  margin-bottom: 0;
}

.cont-1 h3 {
  color: #000;
}

.cont-1 p {
  color: #8b8a8a;
  font-size: 16px;
}

.icons i {
    background: #f17033;
    color: #fff;
    padding: 6px;
    margin: 0px 5px;
}
.con-form {
  padding: 20px 50px;
}

section.contact-us {
  padding: 100px;
}

.btn-contact a {
  background: #194376;
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

section.contact-us.inner h3 {
    font-size: 54px;
    line-height: 56px;
    color: #07183a;
    font-weight: 500;
    /* font-family: 'Rajdhani'; */
    text-transform: uppercase !important;
}
.map-col {
  padding: 0;
}
.btn-contact button {
    width: 26%;
    padding: 0;
    height: 53px;
    background-color: #3e8db9;
    color: #fff;
    border: none;
    border-radius: 5px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 18px;
}
section.contact-us .row {
    align-items: baseline;
}
ul.social-icon.on.tw li i {
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3d8cb7;
    border-radius: 50%;
    background: #3d8cb7;
}
ul.social-icon.on.tw {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.contact-form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    appearance: auto;
    font-family: 'Poppins';
}
/*/*contact inner page  end*/


/*service  page start*/
section.service {
    padding: 80px 0px;
}
.ser-txt {
    text-align: center;
    margin-bottom: 40px;
}


.ser-txt h5 {
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 26px;
    color: #07183a;
    font-weight: 500;
}
.ser-txt h3 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}
.ser-main {
    position: relative;
    background-color: #3e8db9;
    border-radius: 20px;
    padding: 20px;
    margin: 90px 0px 0px;
    margin-bottom: 30px;
}

.ser-img img {
    border-radius: 20px;
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.ser-img {
    margin-top: -81px;
}
.ser-main-txt {
    margin-top: 20px;
}
.ser-main-txt h5 {
    font-size: 36px;
    color: #fff;
    line-height: 36px;
}
.ser-main-txt p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.ser-main-txt a {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 13px;
}

/*service Page end*/


/* Page det-service start*/
section.detail-service {
    padding: 100px 0px;
}
.det-ser-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}
.det-ser-txt p {
    font-size: 15px;
    color: #504f4f;
    margin-bottom: 30px;
}
.det-ser-txt h4 {
    font-size: 60px;
    line-height: 60px;
    color: #07183a;
}
.det-ser-txt {
    margin-top: 20px;
}
/*Page detail-service end*/



/*pricing-page-Start*/
 section.pricing.pt-10 {
    padding: 100px 0px;
}
.row.pricing-bg {
    background: #e5e5e5;
    width: 100%;
    height: 380px;
    position: relative;
    z-index: 0;
}

.pricing-item {
    text-align: center;
    background: #fff;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 #00000047;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 50px 0;
    margin-top: -50px;
    position: relative;
}

.pricing-item h3 {
    font-family: 'Oxanium';
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 34px;
    color: #07183a;
}

.package-price span:first-child {
    font-size: 35px;
    font-family: 'helvatica';
    line-height: normal;
    text-transform: uppercase;
}

.package-price {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to bottom, #3e8db9, #3e8db9);
    padding: 29px;
    width: 310px;
    margin: 30px 0 30px -20px;
    position: relative;
}

.package-price:before {
    content: '';
    position: absolute;
    width: 310px;
    height: 170px;
    background: #3e8db9;
    top: -22px;
    left: 0;
    z-index: 0;
    border-radius: 10px;
    z-index: -1;
}

.pricing-pkg-benefits li {
    padding: 1px 0;
    border-bottom: 1px solid #cdcdcd;
    margin: 4px 0;
}

ul.pricing-pkg-benefits {
    padding: 0 30px;
    margin-bottom: 35px;
}

/*.pricing-item a {
    background: var(--blue);
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
}

.pricing-item a:hover {
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
}*/

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: transparent;
    color: var(--blue);
}

.nav-pills .nav-link {
    color: #7c7c7c;
    font-size: 22px;
    padding: 14px 0;
    border-bottom: 1px solid #8f8f8f;
    border-radius: 0;
    margin: 0 25px 0;
    text-transform: uppercase;
    font-weight: 300;
}

div#v-pills-tab {
    margin-top: -90px;
}
.pricing-btn a.btn-1 {
    font-size: 12px;
    padding: 9px;
    border-radius: 10px;
}
.top-text {
    text-align: center;
    margin-bottom: 90px;
}
.top-text h2 {
    color: #07183a;
    text-transform: capitalize;
}
/* Pricing End */
